<!DOCTYPE html>
<html>
	<div id="wrap">
		<%= render 'welcome/form' %>
		
		<br>
		<h2>New Article</h2>
		
		<!-- <%= link_to 'My Blog',controller: 'welcome' %> -->


		<%= render 'form' %>
		
	</div>
</html>