<div id="title">
    <ul id="navigation">
        <li><%= link_to 'Home',controller: 'welcome' %></li>
        <li><%= link_to 'Achive',controller: 'articles' %></li>
        <li><%= link_to 'login',controller: 'welcome' %></li>
        <li><a href="./rss">RSS</a></li>
    </ul>
    <h1><a href="/">Pause</a> <span class="description">by 088Pause</span></h1>
</div>

<a href="title" id="toTop" style="display: none;">
	<span id="toTopHover" style="opacity: 0;"></span>
	"Top"
</a>