<!DOCTYPE html>
<html>
	<div id="wrap">
		<%= render 'form' %>
		
		<br>
		<p id="title1">No,no,I don't want to get the same view in the guide. </p>

		<%= link_to 'My Blog',controller: 'articles' %> 

	</div>
</html>